/* Body styling */

body {
  box-sizing: border-box;
}

/* Header */

.navbar-brand, .navbar-title {
  margin: 0;
}

/* Main container */

.container {
  min-height: 100vh; /* covers 100% of viewport */
  position: relative;
  margin: 0 !important;
}

/* Search Column */

.col-sm-4 {
  background-color: rgb(247, 247, 247);
  padding: 15px;
}

.list-group {
  padding-top: 15px;
}