/* Body styling */

body {
  box-sizing: border-box;
  margin: 0;
}

/* Header */

.navbar-brand, .navbar-title {
  margin: 0;
}

/* Search Column */

.col-sm-3 {
  background-color: rgb(247, 247, 247);
  padding: 15px;
}

.list-group {
  padding-top: 15px;
}

/* City Weather Column */

.col-sm-9 {
  padding: 15px;
}

.today-ul, .forecast-div {
  padding: 15px 0;
}

.current {
  border: none;
}

.rounded-uv {
  background-color: red;
  padding: 5px;
}

.forecast-row {
  padding: 5px 15px;
}

.forecast-day {
  margin: 5px 5px;
  padding: 5px 12.62px;
}