/* Body styling */

body {
  box-sizing: border-box;
  margin: 0;
}

/* Header */

.navbar-brand, .navbar-title {
  margin: 0;
}

/* Search Column */

.col-sm-4 {
  background-color: rgb(247, 247, 247);
  padding: 15px;
}

.list-group {
  padding-top: 15px;
}

/* City Weather Column */

.col-sm-8 {
  padding: 15px;
}

.current {
  border: none;
}

.rounded-uv {
  background-color: red;
  padding: 5px;
}